@import url("variable.css");

/* nav{
    background-color: var(--main-color);
    padding: 3px 10px;
    font-family: var(--main-font);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side{
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
    width: 200px;
    height: calc(100vh - 54px);
    box-shadow: 5px 0px 10px var(--main-color);

}
.side button{
    margin: 10px 0px;
    border: none;
    outline: none;
    padding: 4px 10px;
    border-radius: 5px;
    color: white;
    background: red;

} */
 body{
    display: flex;
    font-family: var(--main-font);
    
    
    
 }
 main{
    margin-left: 220px;
    flex: 1;
    padding: 30px 40px;
 }
aside{
    position: fixed;
    background-color: var(--main-color);
    width: 220px;
    height: 100vh;
  
    font-family: var(--main-font);
}
aside .menu{
    margin-top: 30px;
    width: 100%;
     
}
aside .menu li{
 
    color: white;
    list-style: none;
   
    width: 100%;
    padding: 15px;
    transition: 0.3s;
}
aside .menu li:hover{
    background-color:var(--light-color);
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.profile{
    padding: 15px;
    color: white;
    
}
.profile p span{
    margin-right: 10px;
    transform: translateY(8px);

}
.line{
    outline: none;
    color: var(--light-color);
    height: 0.5px;
}
.menu li span{
    margin-right: 10px;
    transform: translateY(8px);
    
    
}
.menu .logout:hover{
    background-color: rgb(232, 54, 54);
    color: white;

}
.active{
    border-left: 3px solid orange;
    background-color: rgb(240, 243, 243);
    color: black !important;
    
}
main h2{
    margin-bottom: 10px;
    color: #1f2937;
}
main p{
    color: #4b5563;
}
.placeholder-box{
    background: #fff;
    border: 1px dashed #cbd5e1;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    color: #94a3b8;
    margin: 10px 0px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.card{
    display: flex;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    align-items: center;
}
.card .icon-box span{
    font-size: 40px;
}
.text-box{
    text-align: center;
}
.card-1{
    background-color:white;
    box-shadow: 1px 1px 0cqmax 0px var(--main-color);
    background-color: rgb(183, 212, 248);
    transition: 0.2s ease-in;
    
}
.card-1:hover{
    
    box-shadow: 0px 0px 2px 2px rgb(165, 192, 224),
    0px 0px 3px 3px rgb(124, 160, 204),
    0px 0px 4px 4px rgb(68, 108, 156),
    0px 0px 5px 5px rgb(15, 40, 71);
    

}
.card-2{
    background-color:white;
    box-shadow: 1px 1px 0cqmax 0px var(--main-color);
    background-color: rgb(183, 212, 248);
    transition: 0.2s ease-in;
    
}
.card-2:hover{
    
    box-shadow: 0px 0px 2px 2px rgb(109, 194, 110),
    0px 0px 3px 3px rgb(136, 239, 137),
    0px 0px 4px 4px rgb(136, 239, 137),
    0px 0px 5px 5px rgb(53, 115, 54);
    

}
.card-3{
    background-color:white;
    box-shadow: 1px 1px 0cqmax 0px var(--main-color);
    background-color: rgb(183, 212, 248);
    transition: 0.2s ease-in;
    
}
.card-3:hover{
    
    box-shadow: 0px 0px 2px 2px rgb(223, 215, 176),
    0px 0px 3px 3px rgb(197, 188, 148),
    0px 0px 4px 4px rgb(244, 230, 168),
    0px 0px 5px 5px rgb(244, 230, 168);
    

}
.card-4{
    background-color:white;
    box-shadow: 1px 1px 0cqmax 0px var(--main-color);
    background-color: rgb(211, 51, 19);
    transition: 0.2s ease-in;
    
}
.card-4:hover{
    
    box-shadow: 0px 0px 2px 2px rgb(230, 178, 181),
    0px 0px 3px 3px rgb(198, 117, 122),
    0px 0px 4px 4px rgb(133, 60, 65),
    0px 0px 5px 5px rgb(102, 26, 31);
    

}
.card-1 .icon-box{
    color: #105f26;
    
}
.card-2 .icon-box{
    color: #5f1059;
    
}
.card-3 .icon-box{
    color: #18105f;
    
}
.card-4 .icon-box{
    color: #5f1010;
    
}
.card-2{
    background-color: rgb(136, 239, 137);
}
.card-3{
    background-color: rgb(244, 230, 168);
}
.card-4{
    background-color: rgb(246, 159, 165);
}
.quick{
    background-color: #cfcbef;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 12px;
}
.action-group{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.action{
    color: white;
    background-color: #7a71c8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}

/* Recent Search Container */
.recent-issues table{
    width: 100%;
    background-color: #eceff2;
    padding: 10px;
    border-radius: 8px;


    
  
}
.recent-issues table td,th{
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid white;

}
#status-text{
    border:1px solid #105f26;
    color: #105f26;
    background-color: #80df9b;
    
    border-radius: 8px;

}
@media(max-width:1000px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
      .cards .card{
        display: flex;
        flex-direction: column

    }
    .card h2{
        font-size: 15px
    }
}
@media(max-width:700px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
  
}

