html{
    font-family: var(--main-font);
}
table{
    border-collapse: collapse;
    width: 100%;
    
}table th,td{
    padding: 30px 20px;
}
table thead{
    background-color: var(--main-color);
    color: white;
}
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius: 10px;
}
.editBtn,.deleteBtn{
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    border: none;
    outline: line;
}
.editBtn{
    background-color: var(--main-color);
    color: white;
    border-radius: 8px;
}
.deleteBtn{
    background-color:rgb(216, 44, 44);
    color: white;
    border-radius: 8px;
}
