@import url("variable.css");
body {
    font-family: var(--main-font);
  
   display: flex;
   background: url("../assets/images/ChatGPT\ Image\ Aug\ 20\,\ 2026\,\ 08_56_32\ AM.png");

   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-size: cover;
   object-fit: cover;
}
form{
    background-color: white;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
   
    
   

}
form p{

}
form input{
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border: 1px dashed gray;
    padding-left: 10px;
    margin: 5px 0px;
    border-radius: 5px;

    font-weight: bold;
}
form button{
    padding: 5px 10px;
    margin: 10px 0px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
}
