<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/variable.css" />
  </head>

  <body>
    <!-- <nav>
      <h1>Dashboard</h1>
      <p id="user-d">Welcome,</p>
    </nav>

    <div class="side">
        <button id="btn">Logout</button>
    </div> -->

    <aside></aside>

    <!-- Main Content -->
    <main>
      <div class="cards">
        <div class="card card-1">
          <div class="icon-box">
            <span class="material-symbols-outlined"> auto_stories </span>
          </div>
          <div class="text-box">
            <h2>Total Books</h2>
            <h2>20</h2>
          </div>
        </div>
        <div class="card card-2">
          <div class="icon-box">
            <span class="material-symbols-outlined"> auto_stories </span>
          </div>
          <div class="text-box">
            <h2>Available Books</h2>
            <h2>15</h2>
          </div>
        </div>
        <div class="card card-3">
          <div class="icon-box">
            <span class="material-symbols-outlined"> auto_stories </span>
          </div>
          <div class="text-box">
            <h2>Total Books</h2>
            <h2>20</h2>
          </div>
        </div>
        <div class="card card-4">
          <div class="icon-box">
            <span class="material-symbols-outlined"> auto_stories </span>
          </div>
          <div class="text-box">
            <h2>Total Books</h2>
            <h2>20</h2>
          </div>
        </div>
      </div>
      <!--Quick Action ToolBars-->
      <div class="quick">
        <div class="quick-text" style="margin: 10px 0px">
          <span class="material-symbols-outlined"> bolt </span>
          <h2 style="display: inline">Quick Actions</h2>
        </div>
        <div class="action-group">
          <div class="action">Add Book</div>
          <div class="action">Return Book</div>
          <div class="action">Issue Book</div>
          <div class="action">Retun Book</div>
        </div>
      </div>
      <!--Recent Issue Container-->
      <div class="recent-issues">
        <div class="recent-issues-text">
          <h1>Receent Issued Books</h1>

        </div>
        <div class="recent-issue-box">
          <table>

            <tr>
              <th>Memeber Name</th>
              <th>Book Title</th>
              <th>Issue Date</th>
              <th>Due Date</th>
              <th>Status</th>

            </tr>
            <tr>
              <td>Ananya Sharma</td>
              <td>Clean Code</td>
              <td>2026-09-03</td>
              <td>2020-23-07</td>
              <td>
                <p id="status-text">Issued</p>
              </td>
            </tr>
             <tr>
              <td>Ananya Sharma</td>
              <td>Clean Code</td>
              <td>2026-09-03</td>
              <td>2020-23-07</td>
              <td>
                <p id="status-text">Issued</p>
              </td>
            </tr>
             <tr>
              <td>Ananya Sharma</td>
              <td>Clean Code</td>
              <td>2026-09-03</td>
              <td>2020-23-07</td>
              <td>
                <p id="status-text">Issued</p>
              </td>
            </tr>
             <tr>
              <td>Ananya Sharma</td>
              <td>Clean Code</td>
              <td>2026-09-03</td>
              <td>2020-23-07</td>
              <td>
                <p id="status-text">Issued</p>
              </td>
            </tr>
             <tr>
              <td>Ananya Sharma</td>
              <td>Clean Code</td>
              <td>2026-09-03</td>
              <td>2020-23-07</td>
              <td>
                <p id="status-text">Issued</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </main>

    <script src="../js/sidebar.js" defer></script>
    <script src="../js/dashboard.js" defer></script>
  </body>
</html>
