<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/variabe.css">
    <link rel="stylesheet" href="../css/member.css">
</head>
<body>
    <aside></aside>

    <!--Main Content-->
    <main>
        <h1>Members</h1>
        <p id="total-users"></p>
        <table border="1">
            <thead>
                <tr><th>USER NAME</th>
                    <th>EMAIL</th>
                    <th>ADDRESS</th>
                    <th>PHONE</th>
                    <th>ACTION</th>
                </tr>
            </thead>

        </table>
        
    </main>

    <script src="../js/sidebar.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/member.js"></script>
</body>
</html>