
    <div class="profile">
        <h2>Library System</h2>
        <p><span class="material-symbols-outlined"> account_circle </span><span class="user"></span></p>
    </div>
    <hr class="line" />

    <ul class="menu">
        <li class="active" data-page="dashboard.html"><span class="material-symbols-outlined"> dashboard </span>Dashboard</li>
        <li data-page="books.html"><span class="material-symbols-outlined"> library_books </span>Books</li>
        <li data-page="members.html" class="members"><span class="material-symbols-outlined"> groups </span>Members</li>
        <li data-page="issuebook.html"><span class="material-symbols-outlined"> book </span>Issue Book</li>
        <li data-page="returnbook.html"><span class="material-symbols-outlined"> replay </span>Return Book</li>
        <li data-page="reports.html"><span class="material-symbols-outlined"> analytics </span>Reports</li>
        <li data-page="about.html"><span class="material-symbols-outlined"> article_person </span>About</li>
        <li class="logout"><span class="material-symbols-outlined"> power_settings_new </span>Logout
        </li>
    </ul>
